


@media screen and (max-width: 700px){

* {

 /*CSS transitions*/

 -o-transition-property: none !important;

 -moz-transition-property: none !important;

 -ms-transition-property: none !important;

 -webkit-transition-property: none !important;

 transition-property: none !important;

 /*CSS transforms*/

 -o-transform: none !important;

 -moz-transform: none !important;

 -ms-transform: none !important;

 -webkit-transform: none !important;

 transform: none !important;

 /*CSS animations*/

 -webkit-animation: none !important;

 -moz-animation: none !important;

 -o-animation: none !important;

 -ms-animation: none !important;

 animation: none !important;

}

.pagewrapper{
			width: 100%;
			height: 100%;
		}

		  .header{
		
		  	position:fixed;
		  	background-color: white;
		  	width: 100%;
		  	padding-top: 7%;
		  	z-index: 100;

		  }
		  .menu{
		  display: none;

		  }

		.parallax {
		    height: 100%;
		    width: 100%;
		    overflow-x: hidden;
		    overflow-y: auto;
		    -webkit-perspective: none;
		    perspective: none;
		    padding-top: 30%;

		  }

		.parallax_allcontent {
			clear:both;
		    position: absolute;
		    padding: 0;
		    top: 0;
		    left: 5%;
		    right: 5%;
		    bottom: 0;
		    width: 100%;
		  }

		 .parallax_proloog {
		    
		   
		  } 



		.parallax_inleidingtitel {
		   
		    position: absolute;
		 	padding-top: 80%;
		 	width: 100%;
		  }

		.parallax_inleidingcontent {
	  
		    position: absolute;
		 	padding-top: 30%;
		 	//padding-left: 55%;
		 	width: 100%;
		 	
		  }

		  .parallax_gedicht {
		
		    position: absolute;
		    padding-top: 230%;
		 	
		  }

		  .parallax_stuk1titel {
		 
		    position: absolute;
		    padding-top: 230%;
		 
		  }

		   .parallax_stuk1content {
		  
		    padding-top: 420%;
		  position: absolute;
		    
		    width: 100%;
		   
		   
		  }
		   .proloog {
		    position: absolute;
		  
		    font-family:"Courier New", Courier, monospace;
		    font-size: 8%;
			text-align: right;
		    width: 100%;
		   position: absolute;
		  }

		.titleinl {
		    position: absolute;
		  
		    font-family: ‘Times New Roman’, Times, serif;
		  	font-weight: 400;
		  	font-size: 120%;	
		  	width: 100%;
		  	position: absolute;
		  }

		 .contentinl {
		    position: absolute;
		   
		    font-family:"Courier New", Courier, monospace;
		    font-size: 100%;
		    width: 100%;
		   position: absolute;
		  }

		  .gedicht{
		  	position: absolute;
		 
		    font-family: ‘Times New Roman’, Times, serif;
		    font-size: 80%;
		    text-align: right;
		    width: 100%;
		    position: absolute;
		  }

		  .stuk1titel{
			position: absolute;
	
		    font-family: ‘Times New Roman’, Times, serif;
		  	font-weight: 400;
		  	font-size: 140%;
		  	width: 100%;
		  	
		  }

		  .stuk1conent{
			position: absolute;
		    font-family: 'Merriweather', serif;
		    font-weight: 400;
		    font-size: 80%;
		    text-align: right;
		    width: 50%; 
		  }




}		 
