body{
	font-family: 'Merriweather', serif;
	font-weight: 400;


}
h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	border: 0;

}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
	
}

a {
	text-decoration: none;
	color: black;
}

a:hover{
color: pink;
}

.pagewrapper{
	width: 100%;
	padding: 0%;
}

.page{
	height: 680px;
	width: 2650px;
	//background-color: yellow;
}

.titel{
	width: 1100px;
	height: 640px;
	margin-left: 80px;
	float:left;
	//background-color: green;
	padding-top: 20px;

}
.titel h2{
	text-align: center;
	font-size: 80pt;
	font-weight: 700;
	//line-height: 70pt;
}

.menu{
	width: 400px;
	height:600px;
	font-size: 9pt;
	margin-top:30px;
	margin-left: 200px;
	float: left;
	//background-color: red;	
	font-weight: 700;
	line-height: 30px;
}

.description{
	font-size: 9pt;
	line-height: 20px;
}

.tussentitel{
	-webkit-transform: rotate(-90deg);
	font-size: 60pt;
	float:left;
	margin-top: 300px;
	//background-color: pink;
	margin-left: -30px;

}
.inleiding{
	height: 600px;
	width: 450px;
	margin-top:40px;
	//background-color: pink;
	float: left;
	margin-left: -50px;

}

.inleiding h3{
	font-size: 11pt;
	text-align: left;
	font-weight: 400;
}
.pageH{
	height: 600px;
	width: 3005px;
	//background-color: yellow;
}

.menuH{
	width: 400px;
	height:600px;
	font-size: 9pt;
	margin-top:80px;
	margin-left: 20px;
	//background-color: red;	
	font-weight: 700;
	line-height: 30px;
	position: fixed;

}

.descriptionH{
	height:60px;
	font-size: 9pt;
	margin-top: 8px;
	font-weight:700;
	float:left;
	margin-left: 20px;
}

.tussentitelH1{
	-webkit-transform: rotate(-90deg);
	font-size: 50pt;
	float:left;
	margin-top: 300px;
	//background-color: pink;
	margin-left: 400px;
}

.kolom1{
 	float: left;
 	height: 600px;
	width: 400px;
	margin-top:80px;
	margin-right: 130px;
	font-size: 12pt;
}

.kolom2{
 	float: left;
 	height: 600px;
	width: 400px;
	margin-top:80px;
	margin-right: 130px;
	font-size: 11.4pt;
}
.kolom3{
 	float: left;
 	height: 600px;
	width: 400px;
	margin-top:80px;
	margin-right: 130px;
	font-size: 11pt;
}




.pageH2{
	height: 600px;
	width: 4005px;
	//background-color: yellow;
}

.tussentitelH2{
	-webkit-transform: rotate(-90deg);
	font-size: 50pt;
	float:left;
	margin-top: 230px;
	//background-color: pink;
	margin-left: 350px;
}

.kolom1H2{
 	float: left;
 	height: 600px;
	width: 800px;
	margin-right: 130px;
	font-size: 80pt;
}

.kolom2H2{
 	float: left;
 	height: 600px;
	width: 800px;
	margin-right: 130px;
	font-size: 80pt;
}
.kolom3H2{
 	float: left;
 	height: 600px;
	width: 800px;
	margin-right: 130px;
	font-size: 80pt;
}











