body{
	font-family: 'Merriweather', serif;
	font-weight: 400;


}
h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	border: 0;

}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
	
}

a {
	text-decoration: none;
	color: black;
}

a:hover{
color: #0F0;
}

sup{
	font-size: 6pt;
}

img{
	width: 300px;
	height:auto;
}

.pagewrapper{
	width: 100%;
	padding: 0%;
}

.page{
	height: 680px;
	width: 2650px;
	//background-color: yellow;
	float:left;

}

.titel{
	width: 1100px;
	height: 640px;
	margin-left: 80px;
	float:left;
	//background-color: green;
	padding-top: 20px;

}
.titel h2{
	text-align: center;
	font-size: 80pt;
	font-weight: 700;
	//line-height: 70pt;
}

.menu{
	width: 400px;
	height:600px;
	font-size: 9pt;
	margin-top:30px;
	margin-left: 200px;
	float: left;	
	font-weight: 700;
	line-height: 30px;
}

.description{
	font-size: 9pt;
	line-height: 20px;
}

.tussentitel{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);	
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	font-size: 60pt;
	float:left;
	margin-top: 300px;
	//background-color: pink;
	margin-left: -30px;

}

.footnote{
	width: 200px;
	float: left;
	font-size: 7pt;
 	height: 600px;
	margin-right: 130px;

}
.inleiding{
	height: 600px;
	width: 450px;
	margin-top:40px;
	//background-color: pink;
	float: left;
	margin-left: -50px;

}

.inleiding h3{
	font-size: 11pt;
	text-align: left;
	font-weight: 400;
}
.pageH{
	height: 600px;
	width: 4000px;
	margin-top: 80px;
	position: absolute;
	float: left;
	
}

.achtergrondafb img {
	width: auto;
	height: 600px;
	//position: relative;
	opacity: 0.5;
	float: left;
	margin-left: 50%;
}

.xxx{
	margin-left: 50%;
	font-size: 80px;
	margin-top: -90px;
}

.menuH{
	width: 400px;
	height:auto;
	font-size: 9pt;
	//margin-top:80px;
	margin-left: 20px;
	//background-color: red;	
	font-weight: 700;
	line-height: 30px;
	position: fixed;

}

.descriptionH{
	height:60px;
	font-size: 9pt;
	margin-top: -60px;
	font-weight:700;
	float:left;
	margin-left: 20px;
}

.tussentitelH1{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);	
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	font-size: 50pt;
	float:left;
	margin-top: 5%;
	//background-color: pink;
	margin-left: 850px;
}

.kolom1{
 	float: left;
 	height: 600px;
	width: 400px;
	//margin-top:80px;
	margin-right: 40px;
	font-size: 12pt;
	line-height: 15pt;
	text-align: justify;
}
.kolom1afb{
	width:300px;
	height:600px;
	margin-top: 14px;
	float: left;
	margin-right: 40px;
	padding-bottom: 10px;

}

.kolom2{
 	float: left;
 	height: 600px;
	width: 400px;
	font-size: 11pt;
	margin-right: 40px;
	text-align: justify;
}
.kolom3{
 	float: left;
 	height: 600px;
	width: 400px;
	//margin-top:80px;
	margin-right: 40px;
	font-size: 10pt;
	text-align: justify;
}

.pageH2{
	height: 600px;
	width: 2505px;
	margin-top: 80px;
}

.tussentitelH2{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);	
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	font-size: 50pt;
	float:left;
	margin-top: 230px;
	//background-color: pink;
	margin-left: 850px;
}

.kolom1H2{
 	float: left;
 	height: 600px;
	width: 950px;
	margin-right: 130px;
	font-size: 70pt;
}


.pageH4{
	height: 600px;
	width: 4005px;
	margin-top: 80px;
}

.tussentitelH4{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);	
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	font-size: 50pt;
	float:left;
	margin-top: 150px;
	//background-color: pink;
	margin-left: 850px;
}

.kolom1H4{
 	float: left;
 	height: 600px;
	width: 950px;
	margin-right: 130px;
	font-size: 70pt;
}

#container {
    margin: -8px -5px -5px -8px;
    width: 100%;
    height: 100%;
    position: fixed;    
    z-index: 0;

}
#videoElement {
    width: 100%;
    height: auto;
    
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */

}

#videoElement, .pagewrapper {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #000
}


