

#background {
    text-align: center;
    width: 100%; 
    height: 100%; 
    position: fixed;
    left: 0px; 
    top: 0px; 
    z-index: -1;
}

.stretch {
    margin: auto;
    height:100%;
}

#container {
    margin: -8px -5px -5px -8px;
    width: 100%;
    height: 100%;
    position: fixed;    
    z-index: 0;

}
#videoElement {
    width: 100%;
    height: auto;
    
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */

}

#videoElement, #site_wrapper {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #000
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#Firsttext {
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    line-height: 22px;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 90px;
    letter-spacing: 1px;
    z-index: 999;
    float: top;
}

.sidenote {
    float: right;
    width: 190px;
    margin-right: -235px;
    padding: 3px;
    font-size: 12px;
    font-weight: 200;
    text-align: left;
    line-height: 15px;
    font-family: 'Open Sans', sans-serif;
}


body {
    padding: 8px 16px 0px 8px;  
    background-color: white;    
  background-repeat: no-repeat;  
  background-attachment: fixed;  
  background-position: 0% 0%;
  background-size: contain;

}



a{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: #ffffff;   
    text-decoration: underline;
} 
a:visited{
    color: #ffffff;
    text-decoration: none;
}
a:active {
    color: #ffffff;
    text-decoration: none;
}





/* This makes the images scale to the full width of the page */
img {
    width: 100%;
    height: auto;
}

img.noscale {
    width: inherit;
}




@media screen and (max-width: 36em) {
body {
    padding: 0px 0px 0px 0px;   
    background-color: white;
}




a{
    color:color: #ffffff;;
    text-decoration: none;
}

a:hover{
    color: #ffffff;   
    text-decoration: underline;
} 
a:visited{
    color: #ffffff;
    text-decoration: none;
}
a:active {
    color: #ffffff;
    text-decoration: none;
}


    
}

